SDL3/*
.vscode/c_cpp_properties.json
.vs
*.exe
/SDL_game/Game.cpp
/SDL_game/assets/go.bmp
/SDL_game/assets/main.bmp
/SDL_game/Game.hpp
/SDL_game/GameObject.cpp
/SDL_game/GameObject.hpp
/SDL_game/InputHandler.cpp
/SDL_game/InputHandler.hpp
/SDL_game/Player.cpp
/SDL_game/Player.hpp
/SDL_game/SDL3.dll
/SDL_game/SDL3_image.dll
/SDL_game/TextureManager.cpp
/SDL_game/TextureManager.hpp
/SDL_game/Vector2D.hpp
/index.html
/css/style.css
/css/style.css
/SDL_game/assets/go.bmp
/SDL_game/assets/main.bmp
/css/style.css
